@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

.prompt-textarea::-webkit-scrollbar {
    width: 5px;
}

.prompt-textarea::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.prompt-textarea:hover::-webkit-scrollbar-thumb {
    background-color: #666e75;
}

.prompt-textarea {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.prompt-textarea:hover {
    scrollbar-color: #666e75 transparent;
}

.lazy-load-image-background {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: inherit;
}

.lazy-load-image-background img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}